nav.navbar {
    background:#081b2e;
}

nav.navbar a.navbar-brand span.brand {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: x-large;
}

nav.navbar a.navbar-brand span.brand span.part-text {
    color: #2F8FE6;
}
