nav.navbar {
    background:#081b2e;
}

nav.navbar a.navbar-brand span.brand {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: x-large;
}

nav.navbar a.navbar-brand span.brand span.part-text {
    color: #2F8FE6;
}

.code-block .copy-btn {
  opacity: 1;
  transition: opacity 0.2s ease;
  z-index: 1;
}

article#mynavigator span.current-selection {
    background-color: #2F8FE6;
    color: white;
}
